extend layout
block content
    h1 ##{task.Id}
    h2 タスク名：#{task.Name}
    h2 見出し：　#{task.Head}
    h2 説明：　#{task.Description}
    h2 状況:  #{task.StateName}
    h2 担当者:  #{member.Name? member.Name: ""}